.markdown {
  @apply text-lg leading-relaxed;
  font-size: 14px;
}

.markdown p{
  font-size: 14px;
}
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-6;
}

.markdown h2 {
  @apply text-3xl mt-6 mb-2 leading-snug;
  font-size: 20px;
}

.markdown h3 {
  @apply text-2xl mt-8 mb-4 leading-snug;
  font-size: 16px;
}
